<body id="page-top" class="index">

   <!-- Navigation -->
   <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll" href="#page-top">MOTOACCESS</a>
           </div>
<!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                   <li class="hidden">
                       <a href="#page-top"></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#services"></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#portfolio"></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="">log in</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="">log out</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#contact">Contact</a>
                   </li>
               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container-fluid -->
   </nav>

   <!-- Header -->
   <header>
       <div class="container">
    
      <div class="intro-lead-in">
           <div class="intro-text">
           <p id="notice"><%= notice %></p>

<p class="tama単o">
  <strong>Make:</strong>
  <%= @publish.make %>
</p>

<p class="tama単o">
  <strong>Description:</strong>
  <%= @publish.description %>
</p>

<p class="tama単o">
  <strong>Price:</strong>
  <%= @publish.price %>
</p>

<p class="tama単o">
  <strong>Image:</strong>
  <%= image_tag @publish.image %>
</p>


<%= link_to 'Edit', edit_publish_path(@publish) %> |
<%= link_to 'Back', publishes_path %>            
                    
               
           </div>
       </div>
       </div>
   </header>
